body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: calc(var(--text-size) + 0.6rem);
}

@font-face {
    font-display: fallback;
    font-family: Impact;
    src: url(fonts/impact.woff2);
}

@font-face {
    font-display: fallback;
    font-family: Inter;
    font-weight: bold;
    src: url(fonts/Inter_18pt-ExtraBold.woff2);
}

@keyframes scrollContainer {
    from {
        transform: translateX(110vw);
    }
    to {
        transform: translateX(-110vw);
    }
}

@keyframes shadowAnimation {
    from {
        box-shadow: inset 0 0 6px 0 var(--bgShadowColor);
    }
    to {
        box-shadow: inset 0 0 12px 6px var(--bgShadowColor);
    }
}

.container {
    contain: layout size;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 100%;
}

.scrollText {
    transform: translateX(0); /* GPU Acceleration. */
    white-space: nowrap;
    display: inline-flex;
    position: absolute;
    align-items: center;
    gap: 0.5rem;
    letter-spacing: 0.1rem;
    padding: 0.125rem 0.2rem;
    font: var(--text-size) Impact, sans-serif;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(var(--gradient-start), var(--gradient-end));
    color: transparent;
    animation: scrollContainer var(--animation-time) linear infinite;
    transition: opacity 5s ease;
    z-index: 2;
    filter: drop-shadow(1px 1px 2px hsl(0, 0%, 0%));
}

.scrollText--dimmed {
    opacity: 0.3;
}

.enableShadowAnimation {
    animation: shadowAnimation 3s alternate infinite;
}

.song-title,
.nickname {
    contain: style layout;
    font-family: Inter, sans-serif;
}

.song-title {
    transition: color 1.5s ease;
}

.nickname {
    transition: color 1s ease;
}

/** Fallbacks. */
:root {
    --text-size: 1.3rem;
    --animation-time: 30s;
    --bgShadowColor: hsla(196, 90%, 54%, 0.45);
    --gradient-start: hsl(224, 100%, 72%);
    --gradient-end: hsl(142, 100%, 58%);
}