body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 3rem;
}

@font-face {
    font-display: fallback;
    font-family: Impact;
    src: url(fonts/impact.woff2);
}

@font-face {
    font-display: fallback;
    font-family: Inter;
    font-weight: bold;
    src: url(fonts/Inter_18pt-ExtraBold.woff2);
}

@keyframes scrollContainer {
    from {
        transform: translateX(110vw);
    }
    to {
        transform: translateX(-110vw);
    }
}

@keyframes shadowAnimation {
    from {
        box-shadow: inset 0 0 6px 0 var(--bgShadowColor);
    }
    to {
        box-shadow: inset 0 0 12px 0.2rem var(--bgShadowColor);
    }
}

.container {
    contain: layout size;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 2rem;
    margin: 0.25rem 0;
}

.scrollText {
    transform: translateY(0); /* GPU Acceleration. */
    position: absolute;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.125rem 0.2rem;
    font: var(--text-size) Impact, sans-serif;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(var(--gradient-start), var(--gradient-end));
    color: transparent;
    white-space: nowrap;
    line-height: 2rem;
    vertical-align: middle;
    animation: scrollContainer var(--animation-time) linear infinite;
    transition: opacity 3.5s ease;
}

.song-title,
.nickname {
    contain: style layout;
    font-family: Inter, sans-serif;
}

.song-title {
    transition: color 1.5s ease;
}

.nickname {
    transition: color 1s ease;
}

/** Fallbacks. */
:root {
    --text-size: 1.3rem;
    --animation-time: 30s;
    --bgShadowColor: hsla(196, 90%, 54%, 0.65);
    --gradient-start: hsl(224, 100%, 72%);
    --gradient-end: hsl(142, 100%, 58%);
}